.accordion {
    overflow: hidden;
}

.material-symbols-outlined {
    vertical-align: middle !important;
    margin-right: 10px;
    cursor: pointer;
}

.project-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project-info {
    flex-grow: 1;
}

.thumbnail {
    height: 100px;
}