<app-header />
<main>
    <article>
        @if (versionNumber === 1) {
            <iframe src="https://trinket.io/embed/python/12662b6d07?outputOnly=true&runOption=run&start=result" width="100%" height="800" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        }
        @if (versionNumber === 2) {
            <iframe src="https://trinket.io/embed/python/e5d170e1f4?outputOnly=true&runOption=run&start=result" width="100%" height="800" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        }
        @if (versionNumber == 3) {
            <iframe src="https://trinket.io/embed/python/8e9131e413?outputOnly=true&start=result&showInstructions=true" width="100%" height="800" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        }
    </article>
</main>
