<app-header />
<main>
    <article>
        <img src="https://raw.githubusercontent.com/RyanMontville/ryanmontville.github.io/main/images/canvas-2024.png"
            class="full-width-image" />
        <h2>Canvas Stats</h2>
        <p><a href="https://canvas.fediverse.events">Canvas</a> is a 72 event were users can place a single pixel on a
            shared canvas every so often. The point of canvas is collaborative pixel art. Pixels can be placed anywhere
            on
            the canvas and can be placed on top of other pixels.</p>
        <p>The developer of canvas posted a sql export file of their database of all the pixels placed on the canvas.
            The
            database had columns for the timestamp of the pixel placed on the canvas, the user who placed the pixel,the
            x
            and y coordinate, the hex color value, if the pixel could be seen at the end of the event, and if the pixel
            was
            deleted by the user. The sql file had a second table that listed the 34 different colors used on the canvas
            that
            included the color name and hex value.</p>
        <p>I have taken the sql file of the database of the 642643 pixels placed on the canvas and created a web app to
            display a user's stats. The web app also shows the overall stats of the event such as how many pixels of
            each
            color were placed (black was the most placed color with 1813 pixels placed) or where is the the coordinate
            that
            the most pixels were placed at ((10, 262) with 1417 pixels placed). There are 658367 rows in the pixels
            table of
            the database.</p>
        <p>I took the sql export file the developer of canvas posted and created my own PostgreSQL pixel database and
            then
            used the Psycopg2 library to create functions to find the user rankings based on number of pixels placed
            (1925
            users total), how many of each color a user places, and the coordinate the user placed the most pixels on.
        </p>
        <p>I used <a href="https://python-pillow.org/">Pillow</a> to generate images of the canvas, such as images of
            just
            one color of pixels, the pixels placed on the canvas in reversed order, or just the pixels from a set area
            of
            the canvas and return the users who placed pixels in that area. The function I wrote to draw the images runs
            a
            select statement from the database which allows me to choose any combination of pixels I want to display.
        </p>
        <p>I used Angular to create the web app. I found that the easiest way to serve the data to my app was by
            exporting
            the data into csv files and have the app read the data similar to a http get request. The app has a search
            function to look up a user or you can select a user from the list of all users. The user's page displays
            their
            stats, along with an image of the pixels they placed, which is generated by html canvas graphics. I was also
            able to find the sql file from the 2023 event, which allowed me to provide a second page where users can
            compare
            their 2024 stats to their 2023 stats.</p>
        <p>A few days after the event, and after I had created my database and ran all my functions to find the rankings
            and
            other info, I was told by one of the users who visited Canvas Stats that they saw their username listed
            twice on
            the user rankings. I then found out from the developer that there was a flaw in the code for the canvas site
            that after a certain point would log in users with their username all lowercase and treat them as a
            different
            user. After running some script to find duplicate users with different capitalization, I found 58 users that
            had
            2 different variations of their username and one user that 3 variations of their username. I was able to
            rerun
            my python functions to find the correct rankings and user information.</p>
        <p>You can visit Canvas Stats by going to <a href="https://canvasstats.com/">CanvasStats.com</a></p>
    </article>
</main>