@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@media (prefers-color-scheme: dark) {
    :root {
        --body-background: #000000;
        --header-background: #333;
        --nav-background: #404040;
        --nav-color: #ccc;
        --header-title: #b81f24;
        --header-color: #ccc;
        --main-background: #333;
        --main-color: #ccc;
        --main-link: #9a97f3;
        --dark-mode-icon: #b81f24;
        --project-divider: #fff;
        --links-background: #000000;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --body-background: #e5e5e5;
        --header-background: #b81f24;
        --nav-background: #808080;
        --nav-color: #fff;
        --header-color: #ffffff;
        --header-title: #ffffff;
        --main-background: #ffffff;
        --main-headings: #b81f24;
        --main-color: #000000;
        --main-link: #302ae6;
        --dark-mode-icon: #ffffff;
        --project-divider: #000;
        --links-background: #b81f24;
    }
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    background-color: var(--body-background);
    color: var(--main-color);
}


h1,
h2,
h3,
h4 {
    font-family:
        Arial Black,
        Arial Bold,
        Gadget,
        sans-serif;
}

main h2 {
    color: var(--main-headings);
}

main {
    max-width: 900px;
    margin: 10px auto;
}

article {
    position: relative;
    margin: 10px 0;
    background-color: var(--main-background);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.skills,
article h2 {
    padding: 5px 20px;
}

.skills img {
    margin: 5px;
}

article p {
    padding: 10px;
}

article p a {
    color: var(--main-link);
}

.screenshots {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}
.screenshots img {
    width: 200px;
    border: 1px solid black;
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--links-background);
    border-radius: 5px;
    color: var(--main-color);
    text-decoration: none;
    transition: 0.2s linear;
}
.links a:hover {
    background-color: var(--links-background);
    color: white;
}

hr {
    margin: 10px 10px;
}

@media only screen and (min-width: 926px) {
    #small-screens { display: none; }
}

@media only screen and (max-width: 925px) {
    #large-screens { display: none; }
    main {
        margin: 10px;
    }
    nav {
        justify-content: flex-end;
        align-items: center;
    }
}

@media only screen and (max-width: 670px) {
    #small-screens {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
    }

    .links {
        flex-wrap: wrap;
    }

    .links a {
        background-color: var(--links-background);
        color: white;
    }
}
