<app-header />
<main>
    <div id="filter-bar">
        <h2>{{projectsHeader}}</h2>
        <select (change)="filterProjects($event)">
            <option default>All Projects</option>
            <option>Java</option>
            <option>Python</option>
            <option>C#</option>
            <option>Spring Boot</option>
            <option>PostgreSQL</option>
            <option>Angular</option>
            <option>React.js</option>
            <option>Vue.js</option>
            <option>Blazor</option>
            <option>Flask</option>
            <option>Turtle Graphics</option>
            <option>Node.js</option>
            <option>JavaScript</option>
            <option>TypeScript</option>
            <option>HTML</option>
            <option>CSS</option>
            <option>JSON</option>
        </select>
    </div>
    @for (project of projectsToShow; track project) {
        <!--Testing new layout to display projects
        <app-project-accordion [project]="project" />-->
        <app-project-overview [project]="project" />
    }
</main>